.counter-title {
    margin-top: 42px;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 20px;
}

.counter-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-light-red);
    margin-bottom: 71px;
    border-radius: 5px;
    padding: 45px 60px;
}

.counter-subtitle__total {
    display: flex;
    flex-direction: row;
}

.counter-subtitle__img {
    margin-right: 30px;
}

.counter-subtitle__row {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.counter-subtitle__price {
    font-size: 32px;
    font-weight: 400;
}

.counter-rates {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}