.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 316px;
    padding: 20px;
    z-index: 10;
    background-color: #fff;
}

.sidebar__header {
    background-color: #F3F3F3;
    display: flex;
    width: calc(100% - 4px);
    padding: 5px 2px;
    border-radius: 5px;
}

.sidebar__header-tab {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 3px 0;
}

.sidebar__header-tab:hover {
    cursor: pointer;
}

.sidebar__header-tab_active {
    color: #fff;
    background: var(--btn-color);
}

.sidebar__title {
    font-weight: 500;
    font-size: 14px;
    margin-top: 0;
    width: 100%;
    text-align: left;
    margin-top: 0;
    margin-bottom: 25px;
}

.sidebar__data {
    display: none;
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding-top: 15px;
}

.sidebar__data_visible {
    display: block;
}

.select-wrapper {
    position: relative;
    margin-bottom: 25px;
}

.select__label {
    position: absolute;
    font-size: 12px;
    color: #000;
    top: -10px;
    left: 10px;
    border: 2px solid #fff;
    background: #fff;
    color: #000;
}

.select__label_left {
    position: relative;
    display: block;
    left: 0;
    top: -100%;
    margin-bottom: 10px;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #625b71;
}

.select:focus {
    outline: none;
}

.sidebar__input {
    border-radius: 5px;
    margin-bottom: 20px !important;
} 

.sidebar__input-text {
    color: #49454F;
}

.sidebar__input input {
    border: 2px solid #625b71;
    width: calc(100% - 25px);
}

#region {
    display: block;
    font-size: 14px;
}

.sidebar__btn {
    position: absolute;
    bottom: 35px;
}